# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/
.venv/
.env

# IDE
.idea/
.vscode/

# Logs
logs/

# Data gerada
project-3/data/output/
project-3/data/input/*.txt

# Notebook cache
.ipynb_checkpoints/

# Docker
.dockerignore
docker-compose.yml
